<!DOCTYPE html>
<html>
  <head>
    <title>Miniapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/">miniapp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-secondary my-2 my-sm-0 w-100px" %>
          <%= link_to 'new', new_tweet_path , class: "btn btn-success my-2 my-sm-0 w-100px" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-secondary my-2 my-sm-0 w-100px" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
